<launch>
	
	<node pkg="opencv_image" type="my_publisher" name="camera_capture" output="screen" respawn = "true">
	</node>
	<node pkg="sudoku" type="sudoku" name="sudoku_mission" output="screen" respawn = "true">
	</node>
	<node pkg="uart_node" type="uart_node" name="uart_mission" output="screen" respawn = "true">
	</node>

</launch>
